{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Goodbye::Stale</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    {% block meta %} {% endblock meta %}
  </head>

  <body
    class="h-screen w-screen flex flex-col justify-start items-center overflow-scroll"
  >
    {% block content %} {% endblock content %}
  </body>
</html>
