{% extends 'base.html' %} {% block content %}
<div class="flex flex-col w-full h-full justify-center items-center">
  <form
    method="post"
    class="border-2 border-black p-5 flex flex-col w-fit items-center space-y-10"
  >
    <div class="font-bold text-6xl m-16 text-right">
      <h1>Goodbye</h1>
      <h1>::Stale</h1>
    </div>
    <h1 class="text-2xl font-bold">Log in to Goodbye::Stale</h1>
    {% csrf_token %}
    <div class="space-y-3 my-3 w-full text-right text-xl">{{ form }}</div>
    <div class="flex flex-row w-full justify-center space-x-5">
      <a href="{% url 'all_recipes' %}" class="flex-grow">
        <button
          type="button"
          class="border-2 border-black p-3 hover:bg-neutral-300 w-full"
        >
          Cancel
        </button>
      </a>
      <button
        type="submit"
        class="border-2 border-black p-3 hover:bg-green-500 flex-grow"
      >
        Log In
      </button>
    </div>
  </form>
</div>
{% endblock content %}
