{% extends 'base.html' %} {% block content %}
<nav
  class="w-full h-24 border-b-black border-2 flex flex-row justify-between items-center px-5"
>
  {% if recipes %}
  <h1 class="font-bold text-3xl text-left">Goodbye::Stale</h1>
  {% endif %} {% if user %}
  <section class="flex flex-row justify-end items-center space-x-5">
    <p class="text-right">Last logged in:<br />{{ last_login }}</p>
    <a href="{% url 'logout' %}">
      <button class="border-2 border-black p-3 hover:bg-red-500">
        Log out
      </button>
    </a>
  </section>
  {% else %}
  <div
    id="auth-btn-group"
    class="flex flex-row justify-end items-center space-x-5"
  >
    <a href="{% url 'register' %}"
      ><button class="border-2 border-black p-3 hover:bg-neutral-300">
        Register
      </button></a
    >
    <a href="{% url 'login' %}"
      ><button class="border-2 border-black p-3 hover:bg-green-500">
        Log In
      </button></a
    >
  </div>
  {% endif %}
</nav>
<div class="h-full w-full flex flex-col justify-center items-center">
  <main
    id="main-container"
    class="flex flex-col z-20 text-xl w-1/2 h-2/3 bg-white items-center"
  >
    <div
      id="items-container"
      class="flex flex-col items-center m-5 justify-center bg-white h-full w-full z-20 p-3 border-2 border-black duration-500 hover:-translate-x-2 hover:-translate-y-2 hover:drop-shadow-[1rem_1rem_rgba(0,0,0,1)]"
    >
      {% if recipes %}
      <h1 class="text-left text-3xl font-bold ml-5 mb-5 self-start">
        {% if user %} What do you feel like getting, {{user}}? {% else %} Our
        not so stale recipes {% endif %}
      </h1>
      {% endif %}
      <div
        id="carousel"
        class="flex flex-row overflow-x-scroll overflow-y-hidden w-full"
      >
        {% for item in recipes %}
        <div
          class="w-1/2 h-full border-2 border-black p-5 overflow-scroll shrink-0 mx-2"
        >
          <div
            class="bg-white p-5 flex flex-row mb-3 justify-between items-center"
          >
            <h1 class="font-bold text-2xl w-1/2">{{item.name}}</h1>
            <h2 class="text-right w-1/2">Rp {{item.price}}</h2>
          </div>
          <details class="px-5 space-y-2" open>
            <div>
              <h2 class="font-bold">Description</h2>
              <h2>{{item.description}}</h2>
            </div>
            <div>
              <h1 class="font-bold">Ingredients</h1>
              <ul class="list-disc pl-5">
                {% for ingredient, quantity in item.ingredients.items %}
                <li>{{ingredient}}: {{quantity}}</li>
                {% endfor %}
              </ul>
            </div>
          </details>
        </div>
        {% empty %}
        <div id="no-recipes-text" class="text-right w-full space-y-5">
          <h1 class="text-5xl font-bold">Goodbye::Stale</h1>
          <h1 class="text-3xl font-bold">
            We're cooking up something not stale! Please bear with us for a bit!
          </h1>
        </div>
        {% endfor %}
      </div>
    </div>
    {% if user %}
    <div
      class="-z-30 border-2 border-black p-8 bg-white absolute top-[60vh] left-[24vw] duration-500 hover:-translate-x-[12rem]"
    >
      <a target="_blank" href="{% url 'create_product' %}"
        >Psst... you wanna<br />
        <u> create a product?</u></a
      >
    </div>
    {% endif %}
  </main>
  <div id="contact" class="flex flex-row items-center space-x-5">
    <button
      class="p-5 font-bold bg-white text-2xl duration-500 hover:-translate-x-2 hover:drop-shadow-[0.5rem_0.5rem_rgba(0,0,0,1)] border-2 border-black"
      id="open-modal"
    >
      Give us suggestions!
    </button>
    <p class="text-xl">or contact</p>
    <button
      class="p-5 bg-white text-xl leading-snug duration-500 hover:-translate-x-2 hover:drop-shadow-[0.5rem_0.5rem_rgba(0,0,0,1)] border-2 border-black hover:cursor-default"
    >
      <p class="font-bold">Thorbert Anson Shi (PBP E)</p>
      <a
        href="mailto:tobyas2005139@gmail.com"
        class="underline hover:cursor-pointer"
        >tobyas2005139@gmail.com</a
      >
    </button>
  </div>
</div>
<dialog id="modal">
  <div
    class="flex flex-col border-2 border-black p-8 bg-white text-xl fixed w-1/2 h-1/2 bottom-1/2 left-1/2 -translate-x-1/2 translate-y-1/2"
  >
    <h1 class="font-bold text-2xl">Suggest a recipe</h1>
    <form
      action="{% url 'add_suggestion' %}"
      method="post"
      class="flex flex-col justify-between space-y-5 h-full"
    >
      {% csrf_token %}
      <input
        type="text"
        name="name"
        placeholder="Product name"
        class="p-2 border-2 border-black focus:outline-none"
      />
      <textarea
        name="description"
        placeholder="Description"
        value=""
        class="p-2 h-full resize-none overflow-scroll border-2 border-black focus:outline-none"
      ></textarea>
      <div
        id="btn-group"
        class="flex flex-row justify-between space-x-3 *:flex-grow *:p-3 *:border-2 *:border-black"
      >
        <button
          id="close-modal"
          type="submit"
          class="bg-white hover:bg-green-500"
        >
          Submit
        </button>
        <button
          id="cancel-submission"
          type="button"
          onclick="{
            // Empty form after cancellation
            document.querySelector('form').reset();
            document.getElementById('modal').close();
          }"
          class="bg-white hover:bg-red-500"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
</dialog>
<script>
  document.getElementById("open-modal").addEventListener("click", () => {
    document.getElementById("modal").showModal();
  });

  const form = document.querySelector("form");
  form.addEventListener("submit", (event) => {
    event.preventDefault();
    fetch(form.action, {
      method: "POST",
      body: new FormData(form),
    })
      .then((data) => {
        document.querySelector("dialog").close();
        alert("Your suggestion has been received!");
      })
      .catch((error) => {
        alert(error);
        console.log(error);
      });

    // Empty form after submission
    form.reset();
  });
</script>
{% endblock content %}
