{% extends 'base.html' %} {% block content %}
<nav
  class="w-full md:h-24 h-fit shrink-0 flex flex-col justify-between items-center fixed top-0 z-50 bg-white"
>
  <div
    id="top-row"
    class="h-24 w-full border-b-black border-2 flex flex-row justify-between items-center md:px-5 px-3"
  >
    <button
      id="menu-toggle"
      class="block md:hidden border-2 border-black p-2"
      aria-label="Toggle Menu"
    >
      <svg
        class="w-6 h-6"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"
        ></path>
      </svg>
    </button>

    {% if not empty %}
    <h1 class="font-bold md:text-3xl text-xl text-left">Goodbye::Stale</h1>
    {% endif %}

    <div
      id="navbar-desktop"
      class="hidden md:flex flex-row font-bold justify-center space-x-10 items-center ease-linear *:duration-200"
    >
      <a href="" class="hover:border-b-2 hover:border-b-black">About Us</a>
      <a href="" class="hover:border-b-2 hover:border-b-black">Home</a>
      <a href="" class="hover:border-b-2 hover:border-b-black">Products</a>
      <a href="" class="hover:border-b-2 hover:border-b-black">Categories</a>
    </div>

    {% if user.is_authenticated %}
    <section class="flex flex-row justify-end items-center space-x-5">
      <p class="text-right">Last logged in:<br />{{ last_login }}</p>
      <a href="{% url 'logout' %}">
        <button class="border-2 border-black p-3 hover:bg-red-500">
          Log out
        </button>
      </a>
    </section>
    {% else %}
    <div
      id="auth-btn-group"
      class="flex flex-row justify-end text-sm md:text-lg items-center space-x-3 md:space-x-5"
    >
      <a href="{% url 'register' %}"
        ><button class="border-2 border-black md:p-3 p-2 hover:bg-neutral-300">
          Register
        </button></a
      >
      <a href="{% url 'login' %}"
        ><button class="border-2 border-black md:p-3 p-2 hover:bg-green-500">
          Log In
        </button></a
      >
    </div>
  </div>
  {% endif %}
  <div
    id="navbar-mobile"
    class="flex hidden flex-col font-bold justify-center space-y-3 text-lg items-center h-fit ease-linear *:duration-200 border-b-2 w-full border-black"
  >
    <a href="">About Us</a>
    <a href="">Home</a>
    <a href="">Products</a>
    <a href="">Categories</a>
  </div>
</nav>
<div class="h-full w-full flex flex-col justify-center items-center">
  <main
    id="main-container"
    class="flex flex-col z-20 text-xl w-4/5 md:w-1/2 h-2/3 bg-white items-center md:mt-32"
  >
    <div
      id="items-container"
      class="flex flex-col md:flex-row overflow-scroll items-center m-5 bg-white h-full w-full z-20 p-3 border-2 border-black md:duration-500 hover:-translate-x-2 hover:-translate-y-2 hover:drop-shadow-[1rem_1rem_rgba(0,0,0,1)]"
    ></div>
    {% if user %}
    <div
      class="-z-30 border-2 border-black p-8 bg-white absolute top-[60vh] left-[24vw] md:duration-500 hover:-translate-x-[12rem]"
    >
      <a id="open-creation-modal" class="cursor-pointer"
        >Psst... you wanna<br />
        <u> create a product?</u></a
      >
    </div>
    {% endif %}
  </main>
  <div
    id="contact"
    class="md:flex md:flex-row flex-col md:items-center items-start md:space-x-5 space-y-1 m-10 fixed md:relative bottom-1 md:bottom-0 left-1 md:left-0 z-50"
  >
    <button
      class="md:p-5 p-2 font-bold bg-white md:text-2xl text-md md:duration-500 hover:-translate-x-2 hover:drop-shadow-[0.5rem_0.5rem_rgba(0,0,0,1)] border-2 border-black"
      id="open-suggestion-modal"
    >
      Give us suggestions!
    </button>
    <p class="md:text-xl text-md">or contact</p>
    <button
      class="md:p-5 p-2 bg-white md:text-xl text-sm md:duration-500 hover:-translate-x-2 hover:drop-shadow-[0.5rem_0.5rem_rgba(0,0,0,1)] border-2 border-black hover:cursor-default"
    >
      <p class="font-bold">Thorbert Anson Shi (PBP E)</p>
      <a
        href="mailto:tobyas2005139@gmail.com"
        class="underline hover:cursor-pointer"
        >tobyas2005139@gmail.com</a
      >
    </button>
  </div>
</div>
<dialog id="creation-modal">
  <div
    class="flex flex-col border-2 border-black p-8 bg-white text-xl fixed w-1/2 h-2/3 bottom-1/2 left-1/2 -translate-x-1/2 translate-y-1/2"
  >
    <h1 class="font-bold text-2xl">Create a recipe</h1>
    <form
      id="product-creation-form"
      action="{% url 'create_product_ajax' %}"
      class="flex flex-col justify-between space-y-5 h-full"
    >
      {% csrf_token %}
      <input
        type="text"
        name="name"
        placeholder="Product name"
        class="p-2 border-2 border-black focus:outline-none"
        required
      />
      <input
        type="number"
        name="price"
        placeholder="Price"
        class="p-2 border-2 border-black focus:outline-none"
        required
      />
      <textarea
        name="description"
        placeholder="Description"
        value=""
        class="p-2 h-full resize-none overflow-scroll border-2 border-black focus:outline-none"
        required
      ></textarea>
      <textarea
        id="ingredients-input"
        name="ingredients"
        placeholder="{'ingredient' : 'quantity'}"
        value=""
        class="p-2 h-full resize-none overflow-scroll border-2 border-black focus:outline-none"
        required
      ></textarea>
      <select name="category">
        {% for category in product_categories %}
        <option value="category">{{category.1}}</option>
        {% endfor %}
      </select>
      <div
        id="btn-group"
        class="flex flex-row justify-between space-x-3 *:flex-grow *:p-3 *:border-2 *:border-black"
      >
        <button
          id="close-modal"
          type="submit"
          class="bg-white hover:bg-green-500"
        >
          Submit
        </button>
        <button
          id="cancel-submission"
          type="button"
          onclick="{
            // Empty form after cancellation
            document.getElementById('product-creation-form').reset();
            document.getElementById('creation-modal').close();
          }"
          class="bg-white hover:bg-red-500"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
</dialog>
<dialog id="suggestion-modal">
  <div
    class="flex flex-col border-2 border-black p-8 bg-white text-xl fixed w-1/2 h-1/2 bottom-1/2 left-1/2 -translate-x-1/2 translate-y-1/2"
  >
    <h1 class="font-bold text-2xl">Suggest a recipe</h1>
    <form
      id="suggestion-form"
      action="{% url 'add_suggestion' %}"
      method="post"
      class="flex flex-col justify-between space-y-5 h-full"
    >
      {% csrf_token %}
      <input
        type="text"
        name="name"
        placeholder="Product name"
        class="p-2 border-2 border-black focus:outline-none"
      />
      <textarea
        name="description"
        placeholder="Description"
        value=""
        class="p-2 h-full resize-none overflow-scroll border-2 border-black focus:outline-none"
      ></textarea>
      <div
        id="btn-group"
        class="flex flex-row justify-between space-x-3 *:flex-grow *:p-3 *:border-2 *:border-black"
      >
        <button
          id="close-modal"
          type="submit"
          class="bg-white hover:bg-green-500"
        >
          Submit
        </button>
        <button
          id="cancel-submission"
          type="button"
          onclick="{
            // Empty form after cancellation
            document.querySelector('form').reset();
            document.getElementById('suggestion-modal').close();
          }"
          class="bg-white hover:bg-red-500"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
</dialog>
<script>
  document
    .getElementById("open-creation-modal")
    .addEventListener("click", () => {
      document.getElementById("creation-modal").showModal();
    });

  const creationForm = document.getElementById("product-creation-form");
  creationForm.addEventListener("submit", (event) => {
    event.preventDefault();

    try {
      var dirtyInput = creationForm.querySelector(
        "textarea[name='ingredients']"
      ).value;

      JSON.parse(dirtyInput);

      fetch(creationForm.action, {
        method: "POST",
        body: new FormData(creationForm),
      })
        .then((data) => {
          refreshProducts();
          document.getElementById("creation-modal").close();
          alert("Your product has been created successfully!");
        })
        .catch((error) => {
          alert(error);
          console.log(error);
        });

      // Empty creationForm after submission
      creationForm.reset();
    } catch (error) {
      alert("Your ingredients are not in a valid JSON format!");
      return;
    }
  });

  document
    .getElementById("open-suggestion-modal")
    .addEventListener("click", () => {
      document.getElementById("suggestion-modal").showModal();
    });

  const form = document.getElementById("suggestion-form");
  form.addEventListener("submit", (event) => {
    event.preventDefault();
    fetch(form.action, {
      method: "POST",
      body: new FormData(form),
    })
      .then((data) => {
        document.getElementById("suggestion-modal").close();
        alert("Your suggestion has been received!");
      })
      .catch((error) => {
        alert(error);
        console.log(error);
      });

    // Empty form after submission
    form.reset();
  });

  document.getElementById("menu-toggle").addEventListener("click", function () {
    const menu = document.getElementById("navbar-mobile");
    menu.classList.toggle("hidden");
  });

  var container = document.getElementById("items-container");

  async function getProducts() {
    return fetch("{% url 'fetch_products_json' %}").then((res) => res.json());
  }

  async function refreshProducts() {
    container.innerHTML = "";
    var productsJson = await getProducts();

    if (productsJson.length == 0) {
      container.innerHTML = `
      <div id="no-recipes-text" class="text-right w-[90%] space-y-5">
        <h1 class="text-5xl font-bold">Goodbye::Stale</h1>
        <h1 class="text-3xl font-bold">
          We're cooking up something not stale!<br /> Please bear with us for a bit!
        </h1>
      </div>
      `;
    } else {
      productsJson.forEach((product) => {
        container.innerHTML += `
        <div
          class="w-1/2 h-full flex flex-col border-2 border-black p-5 overflow-scroll shrink-0 mx-2"
        >
          <div
            class="bg-white p-5 flex flex-row mb-3 justify-between items-center"
          >
            <div class="w-1/2">
              <h1 class="font-bold text-2xl">${product.fields.name}</h1>
              <p class="text-lg">by you</p>
            </div>
            <h2 class="text-right w-1/2">Rp ${product.fields.price}</h2>
          </div>
          <details class="px-5 space-y-2 mb-10" open>
            <div>
              <h2 class="font-bold">Description</h2>
              <h2>${product.fields.description}</h2>
            </div>
            <div>
              <h1 class="font-bold">Ingredients</h1>
              <ul class="list-disc pl-5">
                ${Object.entries(product.fields.ingredients)
                  .map(
                    ([ingredient, quantity]) =>
                      `<li>${ingredient}: ${quantity}</li>`
                  )
                  .join("")}
              </ul>
            </div>
          </details>
          <div
            id="modify-product"
            class="flex flex-row justify-center text-center space-x-3 mt-auto"
          >
            <a
              onclick="handleEditProduct('${product.pk}')"
              class="border-2 border-black p-3 hover:bg-neutral-300 flex-grow cursor-pointer"
              >Edit</a
            >
            <a
              onclick="handleDeleteProduct('${product.pk}')"
              class="border-2 border-black p-3 hover:bg-red-500 flex-grow cursor-pointer"
              >Delete</a
            >
          </div>
        </div>
        `;
      });
    }
  }

  async function handleDeleteProduct(id) {
    fetch(`/delete_product/${id}`).then((res) => refreshProducts());
  }

  async function handleEditProduct(id) {
    window.location.replace(`/edit_product/${id}`);
  }

  refreshProducts();
</script>
{% endblock content %}
