{% extends 'base.html' %} {% block content %}
<div class="flex flex-col w-full h-full justify-center items-center">
  <h1 class="text-3xl font-bold m-3">Create a product</h1>
  <form
    method="post"
    class="text-md border-2 border-black p-5 space-y-1 *:border-2 *:border-black *:flex *:flex-row *:justify-between *:p-3 h-fit flex flex-col"
  >
    {% csrf_token %} {{ form }}
    <div id="btn-group" class="flex flex-row !justify-end space-x-3">
      <a href="{% url 'all_recipes' %}">
        <button
          type="button"
          class="border-2 border-black p-3 hover:bg-neutral-300"
        >
          Cancel
        </button>
      </a>
      <button
        type="submit"
        class="border-2 border-black p-3 hover:bg-green-500"
      >
        Confirm
      </button>
    </div>
  </form>
</div>
{% endblock content %}
